---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import logo from '../assets/soul-dev-logo.svg'
---

<Layout lang="en">
  <a href="https://t.me/soul_dev_chat" target="_blank">
    <Image src={logo} alt="logo" class="logo" />
  </a>
</Layout>

<style>
  .logo {
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
    @media (max-width: 768px) {
      width: 300px;
    }
  }

  .logo:hover {
    transform: translate(-50%, calc(-50% - 5px));
  }
</style>
