---
import type { TLangText } from '../i18n'

export interface Props {
  t: TLangText
}
const { t } = Astro.props
import vector4 from '../assets/vector_bg_4.svg'
---

<div class="contacts">
  <h3>{t.contacts.title}</h3>
  <div class="contacts-list">
    <div>
      <span>Telegram:&nbsp;</span><a href="https://t.me/soul_dev_chat" target="_blank">@soul_dev_chat</a>
    </div>
    <div>
      <span>{t.contacts.tg_chanel}&nbsp;</span><a href="https://t.me/soul_dev_channel" target="_blank">
        @soul_dev_channel
      </a>
    </div>
    <div>
      <span>{t.contacts.tg_bot}&nbsp;</span><a href="https://t.me/soul_dev_bot" target="_blank">
        @soul_dev_bot
      </a>
    </div>
    <div>
      <span>EMAIL:&nbsp;</span><a href="mailto:dev.from.soul@gmail.com" target="_blank">
        dev.from.soul@gmail.com
      </a>
    </div>
</div>
<img class="vector" alt="" src={vector4.src}/>

  <style>
    .contacts {
      display: inline-block;
      margin-top: 50px;
      padding: 16px;
      border: 2px solid rgba(112, 113, 232, 0.36);
      box-shadow: 0px 0px 20px 0px rgba(112, 113, 232, 0.3);
      border-radius: 10px;
      backdrop-filter: blur(2px);
    }
    .contacts-list {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    h3 {
      font-size: 16px;
      font-weight: 700;
      color: var(--color-primary);
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
    .vector {
      position: absolute;
      bottom: 0;
      right:0;
      width: 50%;
      z-index: -1;
      user-select: none;
    }
  </style>
</div>
